<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign IN</title>
  </head>
  <body>
    <h2>Sign In</h2>
    <form class="" action="index.html" method="post">
      Name : <input type="text" name="username" value="" placeholder="Username">
      Phone number: <input type="tel" name="phno" value=""placeholder="phno">
      email ID: <input type="email" name="uemail" value=""placeholder="email iD">
      password : <input type="password" name="pswd" value="" placeholder="password">
      <input type="submit" name="submit" value="sign in">
    </form>
  </body>
</html>
